@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/img/fundo-topo.jpg" class="d-block w-100" alt="pilares">
</div>
<section>
    <h1 class="text-center">James Webb</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt itaque
        natus nemo voluptates iure illum! Mollitia veniam provident illum nisi
        quibusdam incidunt earum rerum magnam quaerat tempora ut, nam neque.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt itaque
        natus nemo voluptates iure illum! Mollitia veniam provident illum nisi
        quibusdam incidunt earum rerum magnam quaerat tempora ut, nam neque.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt itaque
        natus nemo voluptates iure illum! Mollitia veniam provident illum nisi
        quibusdam incidunt earum rerum magnam quaerat tempora ut, nam neque.
    </p>
</section>