@model HealthSystemManager.Domain.DTO.PatientDTO

<h1>Edit Patient</h1>

<hr />

<form asp-action="Edit" class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
        <label asp-for="healthInsurance" for="validationCustom02" class="form-label">Health Insurance</label>
        <input asp-for="healthInsurance" type="text" class="form-control" id="validationCustom02" required>
    </div>
    <div class="col-md-4">
        <label asp-for="name" for="validationCustom01" class="form-label">Name</label>
        <input asp-for="name" type="text" class="form-control" id="validationCustom01" required>
    </div>
    <div class="col-md-4">
        <label asp-for="identityDocument" for="validationCustom01" class="form-label">Identity Document</label>
        <input asp-for="identityDocument" type="text" class="form-control" id="validationCustom01" required>
    </div>
    <div class="col-md-4">
        <label asp-for="birthDate" for="validationCustom01" class="form-label">Birth Date</label>
        <input asp-for="birthDate" type="text" class="form-control" id="validationCustom01" required>
    </div>
    <div class="col-md-4">
        <label asp-for="phone" for="validationCustom01" class="form-label">Phone</label>
        <input asp-for="phone" type="text" class="form-control" id="validationCustom01" required>
    </div>
    <div class="col-md-4">
        <label asp-for="address" for="validationCustom01" class="form-label">Address</label>
        <input asp-for="address" type="text" class="form-control" id="validationCustom01" required>
    </div>
    <div class="col-md-4">
        <label asp-for="city" for="validationCustom01" class="form-label">City</label>
        <input asp-for="city" type="text" class="form-control" id="validationCustom01" required>
    </div>
    <div class="col-12">
        <button class="btn btn-outline-primary" type="submit">Submit</button>
        <button class="btn btn-outline-info" asp-action="Index">Back to List</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
