<div class="card" style="width: 18rem;">
  <img src="https://assets.pokemon.com/static2/_ui/img/og-default-image.jpeg" class="card-img-top" alt="Image">
  <div class="card-body">
    <p class="card-text">Navegue neste vasto mundo para se tornar um mestre Pokémon!</p>
    <div class="d-flex justify-content-center">
      <a routerLink="list" id="random-pkm" class="btn btn-primary">Ver Lista</a>
      <button type="button" routerLink="random" id="random-pkm" class="btn btn-info ms-1">Random</button>
    </div>
  </div>
</div>
