@{
    ViewData["Title"] = "Bobs Burguers";
}

<div class="text-center">
    <h1 id="texto-home" class="display-4 titulo">Bem Vindo ao Bobs Burguers</h1>
    <span id="text-pedido" class="display-4">Posso Anotar o seu Pedido?</span>
    <div class="container">
        <figure>
            <img id="img-home" src="./img/BobsImgCentral.jpg" />
            <figcaption>
                <div class="container informacoes">
                    <p>
                        Bob Belcher comanda uma lanchonete, a Bob's Burgers, com sua esposa e 
                        três filhos. Ele não se preocupa em oferecer um bom serviço de atendimento
                        ao cliente, porque acredita que só o hambúrguer basta.
                    </p>
                </div>
            </figcaption>
        </figure>
    </div>
</div>
