html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
    box-shadow: 2px 2px 3px #111;
}

.nav-link:hover {
    text-shadow: 2px 2px 3px gray;
}

#imagem-central img {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.list {
    width: 40%;
    display: block;
    margin-left: 5%;
    float: left;
}

.lista-container h3 {
    text-align: center;
    font-weight: 800;
    margin-top: 1em;
    margin-bottom: 1em;
}

.lista-container ul {
    list-style: none;
    padding: 0;
}

.lista-container .list ul h4 {
    font-weight: 600;
}

.lista-container::after {
    display: block;
    clear: both;
    content: "";
}

.list #list-webb {
    text-align: right;
    padding-bottom: 20px;
}

.list #list-hubble {
    padding-bottom: 20px;
}

.privacy-content {

}