@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
</div>

<div class="container d-flex justify-content-center">
    <figure class="ms-2">
        <img id="img-home-poke" style="width:40vw" src="../img/Pokemon_go.jpg" />
    </figure>
</div>