<div class="row">
  <div class="row mb-2">
    <h1 class="card-title">{{ pokemon.name| titlecase }}</h1>
    <div class="card-body">
      <p>Base Experience: {{ pokemon.base_experience }}</p>
      <p>Height: {{ pokemon.height }}</p>
      <p>Weight: {{ pokemon.weight }}</p>
    </div>
    <hr>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/{{pokemon.id}}.gif" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img style="max-width: 17rem;" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/back/{{pokemon.id}}.gif" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/shiny/{{pokemon.id}}.gif" class="card-img-top" alt="...">
    </div>
  </div>
</div>
<!-- base_experience?: number;
  height?: number;
  id?: number;
  name?: string;
  order?: number;
  sprites?: Sprite = new Sprite({});
  weight? -->
