html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.iconMenu {
    width: 3.2em;
    height: 3.2em;
    margin-right:0.4em
}