@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');
/* font-family: 'Libre Baskerville', serif;
font-family: 'Roboto', sans-serif; */

* { 
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
    background: rgb(202,210,197);
    background: linear-gradient(180deg, rgba(202,210,197,1) 0%, rgba(53,79,82,1) 100%);
    background-repeat: no-repeat;    
}

nav {
    box-shadow: 2px 3px 7px #111;
}

.nav-item {
    font-size: 1.5em;
    font-weight: 500;
}

.nav-item:hover {
    text-shadow: 2px 2px 3px green;
}

.title-home h1 {
    font-family: 'Libre Baskerville', serif;
    padding: 1em;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    text-shadow: 2px 2px 4px green;
}

.informacoes {
    border: solid 1px #fff;
    border-radius: 2px 3px 4px 5px;
    box-shadow: 2px 2px 2px 3px greenyellow;
    padding: 1.5em;    
    margin: 1em;
}

.informacoes {
    color: #fff;
    text-align: justify;
    font-size: 1.3em;
    font-weight: 300;
}

.informacoes a {
    color: #fff;
}

.card:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px green;
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

/* Animations */

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}