@model HealthSystemManager.Domain.DTO.MedicalRecordDTO

<h4>There is no medical records for @Model.patient.Name</h4>
<a class="btn btn-outline-primary" asp-action="Create" asp-route-id="@Model.id">New Appointment</a>