@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="privacy-content">
    <div class="card" style="width: 18em">
        <img src="~/img/jameswebb.png" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">James Webb</h5>
            <p class="card-text">
                O Telescópio Espacial James Webb é um telescópio espacial
                desenvolvido em conjunto pela NASA, a Agência Espacial Europeia e a
                Agência Espacial Canadense, com a finalidade de colocar no espaço um
                observatório para captar a radiação
            </p>
        </div>
    </div>
</div>